.list {
  padding: 0;
  list-style: none;
  font-size: 18px;
}

.item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgb(192, 192, 192);
  margin: 5px;
  padding: 10px;
  vertical-align: top;
  border: 2px solid rgb(31, 25, 25);
  border-radius: 10px;
  text-align: right;
  overflow-x: hidden;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 150px;
  overflow-x: hidden;
}

.number {
  text-align: right;
}

.btn {
  height: 20px;
  width: 30px;
  margin-right: 10px;
  background-color: rgb(192, 192, 192);
  background-image: url('../../Img/kisspng-red-x-letter-computer-icons-red-x-5ac2fb75b18a39.2414215415227277977272.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  right: 0;
  border-width: 0px;
}

.btn:hover {
  transform: scale(1.2);
  transition: all 0.2s;
}
